/*************************
PareidoliaX Brand Colors
**************************/
$px-bright-orange: #df7934;
$px-dark-orange: #9d331c;
$px-aqua: #349ce6;
$px-kolbolt: #283973;
$px-electric-indego: #0030aa;
$px-font: 'Cherry Cream Soda', cursive;

/*************************
Bootstrap Variable Customizations
**************************/
$brand-primary: $px-bright-orange;
$brand-success: $px-electric-indego;
$brand-info: $px-aqua;

@import url(http://fonts.googleapis.com/css?family=Cherry+Cream+Soda);
@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'bootstrap-custom';
